body {
  background-image: url(/images/background.jpg);
  font-family: "Nunito", sans-serif !important;
  color: #a33327;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.btn-red,
.btn-red:hover,
.btn-red:active,
.btn-red:visited {
  background-color: #a33327 !important;
}
.color-gray {
  color: #999;
}
/* Navigation Bar */
nav * {
  color: #a33327 !important;
}

/* First Section */
#banner {
  padding-top: 200px;
  padding-bottom: 200px;
}
#banner button {
  font-size: 0.9rem;
}
#banner button:hover {
  background-color: #000 !important;
}
/* Services Section */
#services {
  padding-bottom: 200px;
}
#services h2 {
  margin-bottom: 100px;
}
#services i {
  font-size: 70px;
  margin-bottom: 15px;
}
/* Portfolio */
#portfolio {
  padding-bottom: 200px;
}
#portfolio h2 {
  margin-bottom: 100px;
}

/* About */
#about {
  padding-top: 200px;
}
#experience {
  margin-top: 100px;
}
#experience .card {
  border: 1px solid #a33327;
}

/* Footer */
footer {
  padding: 50px 0;
  border-top: 1px solid #ddd;
}
footer ul li a {
  color: #ddd;
}
footer ul li a:hover {
  color: #a33327;
  text-decoration: none;
}
/* Swiper */
.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-pagination-progressbar-fill {
  background-color: #a33327 !important;
}

/* Responsive */
@media screen and (max-width: 991px) {
  #banner {
    padding-top: 100px;
  }
}
@media screen and (max-width: 575px) {
  #banner {
    padding-top: 50px;
  }
}
