:root {
  --color: #c7493a;
  --color: #a33327;
  --color: #689775;
  --color: #917164;
  --color: #ad8174;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: url(/images/background.jpg);
  color: #fff;
}
h1 {
  margin: 0;
  text-decoration: none;
  font-size: 60px;
  line-height: 68px;
}
h2 {
  margin: 0;
  text-decoration: none;
  font-size: 40px;
}
h3 {
  margin: 0;
  text-decoration: none;
  font-size: 40px;
}
h4 {
  margin: 0;
  text-decoration: none;
  font-size: 40px;
}
h5 {
  margin: 0;
  text-decoration: none;
  font-size: 22px;
}
h6 {
  margin: 0;
  text-decoration: none;
  font-size: 18px;
}
p {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
}
a {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
}
.container {
  width: 80%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}
.title {
  color: #a33327;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 100px;
  background: transparent;
}
section {
  padding-bottom: 200px;
}
/* HEADER */
header {
  margin: 10px 0;
}
header img {
  width: 200px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin-left: 60px;
}
header ul li a {
  color: #a33327;
}

/* BANNER */
#banner {
  padding-top: 200px;
}
#banner .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#banner .content {
  flex: 1;
  margin: 10px;
}
#banner .content h1 {
  color: #a33327;
}
#banner .content h3 {
  font-size: 20px;
  color: #a33327;
  text-transform: uppercase;
}
#banner .content p {
  color: #fff;
  line-height: 1.7;
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 300;
}
#banner .content a {
  color: #fff;
  background: #a33327;
  padding: 15px 30px;
  border-radius: 5px;
}
#banner .img {
  flex: 1;
}
#banner img {
  width: 100%;
}

/* SERVICES */
#services .title {
  color: #a33327;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 100px;
  background: transparent;
}
#services .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#services .card {
  background: transparent;
  width: calc(50% - 20px);
  padding: 30px;
  position: relative;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #a33327;
  box-sizing: border-box;
  margin: 10px;
}
#services .card h3 {
  font-size: 28px;
  padding-bottom: 25px;
  font-weight: 400;
}
#services .card p {
  font-weight: 300;
}
#services .card i {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 120px;
  color: #a33327;
  opacity: 0.3;
}
#services .card i.fa-wordpress {
  color: #a33327;
}
#services .card i.fa-mobile-alt {
  color: #a33327;
}
#services .card i.fa-html5 {
  color: #a33327;
}

/* SKILLS */
#stats .title {
  color: #a33327;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 100px;
  background: transparent;
}
#stats .wrapper {
  display: flex;
  justify-content: space-between;
}
#stats .wrapper .box {
  flex: 20%;
  margin: 10px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #a33327;
}
#stats h3 {
  font-size: 75px;
  color: #a33327;
  line-height: 1;
}
#stats p {
  color: #fff;
}

/* FOOTER */
footer {
  border-top: 1px solid #a33327;
  padding: 75px 0;
  margin-top: 100px;
}
footer .row {
  display: flex;
}
footer .row .col {
  flex: 1;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  color: #fff;
}
